body {
    font-family: sans-serif;
    margin: 2em auto;
}
form {
    margin: 0.75em 0;
    padding: 0.75em;
    border: 1px solid #668;
    border-radius: 6px;
}
label {
    display: inline-block;
    margin-right: 1em; 
    margin-bottom: 0.5em;
}
table, th, td {
    /* border: 2px solid green; */ /* Sets width, style, and hex color */
    border-collapse: collapse;    /* Prevents double borders */
    margin-bottom: 0.75em;
}
td {
    /* border-collapse: collapse; XXX No? */
    /* text-align: center;  Centers text horizontally */
    vertical-align: top; /* Centers text vertically */
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: fit-content;
    table-layout: auto;
}
button { padding: 0.4em 1em; }
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    accent-color: black;
}

.block {
    display: inline-block;
}
.red {
    color: red;
}
.green {
    color: green;
}
.form-container {
  display: flex;
  flex-direction: row; /* Aligns items side-by-side */
  gap: 20px; /* Adds space between the forms */
}
.middle_align {
    vertical-align: middle;
}
.left_pad {
    padding-left: 3em;
}
.center {
    text-align: center;
}